{% assign roles = page.credentials.size %}

<div class='credentials'>
{% for i in (0..roles) %}
	{% assign role = page.credentials[i].role %}
	{% if role == 'collaborators'%}
	<h4>Artistic Collaborators</h4>
	{% elsif role == 'voices' %}
	<h4>Voices by</h4>
	{% elsif role == 'performers' %}
	<h4>Performers</h4>
	{% elsif role == 'thanks' %}
	<h4>Many Thanks to</h4>
	{% endif %}
	{% assign personArray = page.credentials[i].people %}
		{% for person in personArray %}
			{% if person contains "|" %}
			{% capture name %}{{person | split:"|" | first}}{% endcapture %}
			{% capture role %}{{person | split:"|" | last}}{% endcapture %}
			<p>{{name}}/<span>{{role}}</span></p>
			{% else %}
			<p>{{person}}</p>
			{% endif %}
		{% endfor %}
{% endfor %}
</div>
