---
---
<!DOCTYPE html>
<html>
<head>
  <title>Banished Productions {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic|Buenard:400,700|Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}site.css' rel='stylesheet' type='text/css'>
  <script src='{{site.baseurl}}site.js'></script>
</head>
<body>
  <header class='col12 pad2 cf'>
  <div class='col3'>
    <a href='{{site.baseurl}}' class='logo pad2h'><img src='{{site.baseurl}}img/logo-clear.png'></a>
  </div>
  <nav class='col9'>
    <a href='#' class='transition about'>Who</a>
    <a href='#' class='transition twitter'>t</a>
    <a href='#' class='transition facebook'>F</a>
    <a href='#' class='transition vimeo'>V</a>
    <span class='divider'>&#9679;</span>
    <a href='#' class='transition artillery'>A<span>rtillery</span></a>
    <!-- <span class='divider'>&#9679;</span> -->
    <!-- <a href='#' class='box-clear'>What's happening</a> -->
  </nav>
</header>
<section class='col12 pad4 cf'>
  {{content}}
</section>
<footer class='col12 pad4 cf'>
  <ul>
    <li class='col1'>sponsor1</li>
    <li class='col1'>sponsor2</li>
    <li class='col1'>sponsor3</li>
    <li class='col1'>sponsor4</li>
  </ul>
</footer>
</body>
