---
layout: default
---
{% assign show = page.title | downcase %}
<style>
#flickr img {
	padding: 0 20px 20px 0;
}
.subtitle {
	padding-bottom:20px;
}
iframe.vimeo {
	padding-right:20px;
 	width:100%!important;
 	height:240px;
}
</style>
<section class='col12'>
	<h1>{{page.title}}</h1>
	<p class='subtitle'>{{page.subtitle}}</p>
</section>
<section class='col6'>
	<!-- photos -->
	{% if page.flickr %}
	<div id='flickr'></div>
	{% endif %}
	<!-- videos -->
	{% if page.vimeo %}
	<iframe class='vimeo' src="http://player.vimeo.com/video/{{page.vimeo}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% endif %}
	<p>{{content}}<p>
</section>
<section class='col5 margin0'>
	{% if page.tags contains 'instruction' %}
		{% for post in site.posts %}
		{% if post.categories contains 'instruction' and post.categories contains show %}
			{{post.content | markdownify}}
		{% endif %}
		{% endfor %}
	{% endif %}
	{% if page.tags contains 'venue' %}
		{% for post in site.posts %}
		{% if post.categories contains 'venue' and post.categories contains show %}
			{{post.content | markdownify}}
		{% endif %}
		{% endfor %}
	{% endif %}
	{% include credentials.html %}
</section>
<script>
{% if page.flickr %}
	{% include js/photos.js %}
{% endif %}
</script>